button.operation {
    background-color: var(--secondary);
    padding: 0.3em 0.6em;
    border-radius: 12px;
    font-size: 2em;
    color: var(--white);
}
button.operation.plus{
    flex-grow: 2;
}
button.equal{
    flex-grow: 2;
    background-color: var(--tertiary);
    border-radius: 12px;
    color: var(--white);
    font-size: 2em;
}